<div class="container">
        
                <!-- PANEL SUMMARY -->
                <div class="row panelrow">
                    <div class="col-sm-4">
                    </div>
        
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Today's Summary (timer is {{timerOn?"on":"off"}})</h3>
                            </div>
                            <div class="panel-body">
        
                                <ul class="list-group">
                                    <li class="list-group-item"><strong>Started:</strong> <span>{{startTime | date:'HH:mm'}}</span> </li>
                                    <li class="list-group-item"><strong>Finished:</strong> <span>{{finishTime | date:'HH:mm'}}</span></li>
                                    <li class="list-group-item"><strong>Total:</strong> <span *ngIf="totalTime">{{totalTime.hours | number:'2.0-0'}}:{{totalTime.minutes | number:'2.0-0'}}</span></li>
                                </ul>
        
                            </div>
                        </div>
        
                        <div class="text-center">
                            <button (click)="startFinish()"  type="button" class="btn btn-lg btn-primary">Start/Finish</button>
                            <button type="button" class="btn btn-lg btn-success">Start/Finish at...</button>
                        </div>
        
                    </div>
        
                    <div class="col-sm-4">
                    </div>
                </div>
        
                <!-- PANEL TRACKED TIME -->
                <div class="row panelrow">
                    <div class="col-sm-4">
                    </div>
        
                    <div class="col-sm-4">
        
                        <div class="panel panel-default">
                            <div class="panel-heading ">
                                <span class="panel-title">Today's Tracked Periods (component)</span>
                                <span class="pull-right"> <button type="button" class="btn btn-xs btn-success"> ADD </button></span>
                            </div>
        
        
                            <!--========================= MAKE THIS TABLE A COMPONENT: THIS SHOULD BE REUSED IN THE WEEK VIEW WHEN CLICK A DAY ============================= -->
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Started</th>
                                        <th>Finished</th>
                                        <th>Period</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let entry of todayEntries">
                                        <!--IN ORDER TO COLLAPSE, use: class="collapse out/in"-->
                                        <td>{{entry.startTime | date:'HH:mm'}}</td>
                                        <td>{{entry.finishTime | date:'HH:mm'}}</td>
                                        <td>{{entry.totalTime.hours | number:'2.0-0'}}:{{entry.totalTime.minutes | number:'2.0-0'}}</td>
                                    </tr>
                                    <tr>
                                        <!--form class="form-group"-->
                                            <td class="tracked-periods-table-input-td"><input class="form-control" aria-label="Started Time" type="text" value="13:00"></td>
                                            <td class="tracked-periods-table-input-td"><input class="form-control" aria-label="Finished Time" type="text" value="15:00"></td>
                                            <td class="tracked-periods-table-input-td text-right vertical-middle"><button type="button" class="btn btn-xs btn-success"> SAVE </button></td>
                                        <!-- </form> -->
                                    </tr>
                                    <tr>
                                        <td class="text-right " colspan="3">
                                            <button type="button" class="btn btn-xs btn-primary"> EDIT </button>
                                            <button type="button" class="btn btn-xs btn-danger"> DELETE </button>
        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>17:00</td>
                                        <td>(still counting)</td>
                                        <td>02:38</td>
                                    </tr>
                                </tbody>
                            </table>
        
        
                        </div>
        
                    </div>
        
                    <div class="col-sm-4">
                    </div>
                </div>
        
            </div>