<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-left">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/main">My Timesheet</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/main">Today</a></li>
                <li routerLinkActive="active"><a routerLink="/week">Week</a></li>
                <li routerLinkActive="active"><a routerLink="/month">Month</a></li>
                <li routerLinkActive="active"><a routerLink="/year">Year</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--The content below is only a placeholder and can be replaced.-->
<div class="main-app-div" style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <h2>Today is {{today | date:'shortDate'}}</h2>
  <h4>Current time is {{today | date:'HH:mm:ss'}}</h4>
</div>

<router-outlet></router-outlet>


